#softkey {
  height: 30px;
  max-height: 30px;
  width: 100%;
  max-width: 100%;
  background: #1b1b1b;
  border-top: 2px #1b1b1b;
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 0 5px;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 26px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

#left,
#right {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  overflow: hidden;
  width: 100%;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

#left {
  text-align: left;
  padding-right: 5px;
}

#center {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#right {
  text-align: right;
  padding-left: 5px;
}
